@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
:root {
    --red: #ca684d;
    --yellow: #d6a150;
    --green: #8fab7a;
    --bluish: #61a5a8;
    --logoBorder: #497d76;
    --reallyLightGray: #F0F0F0;
    --lightGray: #E6E6E6;
}
body {
    background-color: #F0F0F0;
}
h1 h2 h3 h4 h5{
    font-family: 'Anton', sans-serif;
}
p{
    font-family: 'Abel', sans-serif;;
}
.logo{
    box-sizing: border-box;
    height: 105px;
    width: 105px;
}
.circle{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 105px !important;
    width: 105px !important;
    border-radius: 50%;
    /*line-height: 105px;*/
    border: 4px solid white;
    font-weight: bold;
    text-align: center;
    color: white;
    margin:0 .5em;
}
.design{
    background-color: var(--red)
}
.develop{
    background-color: var(--yellow);
}
.support{
    background-color: var(--green);
}
.host{
    background-color: var(--bluish);
}
.apple-ipad{
    border-radius: 5%;
    border:4px solid var(--lightGray);
    width:225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mini-circle{
    justify-content: center;
    align-items: center;
    display:flex ;
    box-sizing: border-box;
    width:18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--red);
}